<section *ngIf="hero" class="hero-details-section">
  <h2 [attr.data-text]="hero.name + ' Details'">{{hero.name}} Details</h2>
  <article class="hero-details">
    <ul class="hero-info">
      <li>
        <label class="edit-field">Hero Name:
          <input [(ngModel)]="hero.name" placeholder="name" />
        </label>
      </li>
      <li>Hero ID: {{ hero.id }}</li>
      <li>Alignment: {{ hero.alignment }}</li>
      <li *ngIf="hero.age">Age: {{hero.age}}</li>
      <li *ngIf="hero.trait"><p>Traits: {{hero.trait}}</p></li>
      <li *ngIf="hero.occupation"><p>Occupation: {{hero.occupation}}</p></li>
    </ul>
  </article>
</section>

<section *ngIf="!hero" class="skeleton-section">
  <div class="skeleton-header">
    <ngx-skeleton-loader animation='progress' [theme]="skelHeader"></ngx-skeleton-loader>
    <h2 data-text="Details"> Details</h2>
  </div>
  <article class="hero-details">
    <ul class="hero-info">
      <li>
        <label class="edit-field inline">Hero Name:
          <ngx-skeleton-loader animation='progress' [theme]="skelLabel"></ngx-skeleton-loader>
        </label>
      </li>
      <li>Hero ID:
        <ngx-skeleton-loader animation='progress' [theme]="skelTxt"></ngx-skeleton-loader>
      </li>
      <li>Alignment:
        <ngx-skeleton-loader animation='progress' [theme]="skelTxt"></ngx-skeleton-loader>
      </li>
      <li>
        <ngx-skeleton-loader animation='progress' [theme]="skelTxt"></ngx-skeleton-loader>
      </li>
      <li>
        <p>
          <ngx-skeleton-loader animation='progress' count='3' [theme]="skelTxtBlock"></ngx-skeleton-loader>
        </p>
      </li>
      <li>
        <p>
          <ngx-skeleton-loader animation='progress' count='3' [theme]="skelTxtBlock"></ngx-skeleton-loader>
        </p>
      </li>
    </ul>
  </article>
</section>

<div>
  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
</div>
