<div *ngIf="hero; else skeleton" class="hero-details">
  <h2>{{hero.name}} details!</h2>
  <div>
    <label>id: </label>{{hero.id}}
  </div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="hero.name" placeholder="name" />
  </div>
  <div>
    <button (click)="goBack()">Back</button>
    <button (click)="save()">Save</button>
  </div>
</div>

<ng-template #skeleton>
  <div class="hero-details">
    <ngx-skeleton-loader animation='progress' [theme]="{
      width: '180px',
      height: '35px',
      'border-radius': '0',
      'background-color': '#4286df',
      'margin': '10px'
    }"></ngx-skeleton-loader>
    <div [ngStyle]="{'display': 'flex', 'align-items': 'center'}">
      <label>id: </label>
      <ngx-skeleton-loader animation='progress' [theme]="{
        width: '200px',
        height: '25px',
        'border-radius': '0',
        'background-color': '#4286df',
        'margin': '10px'
      }"></ngx-skeleton-loader>
    </div>
    <div [ngStyle]="{'display': 'flex', 'align-items': 'center'}">
      <label for="name">name: </label>
      <ngx-skeleton-loader id="name" animation='progress' [theme]="{
        width: '200px',
        height: '45px',
        'border-radius': '0',
        'background-color': '#4286df',
        'margin': '10px'
      }"></ngx-skeleton-loader>
    </div>
    <div>
      <button (click)="goBack()">Back</button>
      <button (click)="save()">Save</button>
    </div>
  </div>
</ng-template>
