@import 'src/assets/colors.scss';
$spacing: 20px;

label {
  // display: inline-block;
  color: #607D8B;
  color: rgb(0,120,215);
  font-weight: bold;
  margin-bottom: 10px;
}
input {
  height: 2em;
  padding-left: .4em;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.hero-details-section {
  display: flex;
  flex-direction: column;
}

.hero-details-row {
  display: flex;
  align-items: center;
}

.skeleton-section {
  min-width: 535px;

  li, li .inline {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .skeleton-header {
    display: flex;
    align-items: center;
    gap: 25px;
  }
}

article.hero-details {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;

  ul.hero-info {
    list-style: none;
    padding-left: 0;
  }
}
